body {
    background-color: #202020;
    color: #f1f1f1;
    font-size: 110%;
}


h1 {
    text-align: center;
}


h5 {
    margin: 0;
}

/* General */

#textCarousel {
    width: 40rem;
    margin: auto;
}

p {
    text-align: center;
}

.row {
    text-align: justify;
}

.paragraph {
margin-bottom: 1rem;
background-color: #414141;
}

.inside {
    margin-top: 2rem;
}

.btn-outline-light {
    padding: 0.8rem 10rem 0.8rem 1rem;
}

li {
    list-style: none;
}

/* Responsiveness */

.title-small,
.title-x-small {
    display: none;
}

@media screen and (max-width: 1400px) {

    .title-large,
    .title-x-small {
        display: none;
    }

    .title-small {
        display: block;
    }
}

@media screen and (max-width: 768px) {

    .title-large,
    .title-small {
        display: none;
    }

    .title-x-small {
        display: block;
        text-align: center;

    }

    #textCarousel {
        max-width: 90%; /* Usa un tamaño relativo en lugar de fijo */
    }
}