body {
    background-color: #202020;
    color: #f1f1f1;
    font-size: 110%;
}

/* Profile and resume */

.profile-photo {
    width: 250px;
    height: 250px;
    border: #a5c3ffcd;
    border-style: double;
    border-width: 5px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Oculta cualquier parte de la imagen que se desborde */
    float: right;
}

/* titles */

h2,
h3,
h4 {
    background: linear-gradient(#d98fe9, #5E91FA);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* General */

p {
    text-align: center;
}

/* Responsiveness */

.title-small,
.title-x-small {
    display: none;
}

@media screen and (max-width: 1400px) {

    .title-large,
    .title-x-small {
        display: none;
    }

    .title-small {
        display: block;
    }
}

@media screen and (max-width: 768px) {

    .title-large,
    .title-small {
        display: none;
    }

    .title-x-small {
        display: block;
        text-align: center;

    }
}
